<div class="container intro-container">
  <h3>TL;DR</h3>
  <div class="row clearfix">
    <div class="{{ 'col-xs-12 ' }}">
      <p>I...</p>
      <ul>
        <li>am a machine learning researcher 🧑‍💻</li>
        <li>am a computer science Ph.D. student at UC Irvine 🎓</li>
        <li>am a Codeforces candidate master (top 5%) and KOI(Korea Olympiad in Informatics) bronze medalist🏅</li>
        <li>play tennis 🎾 and do weightlifting 🏋️</li>
        <li>usually play Startcraft 1/2, Overwatch, and Minecraft 🕹</li>
      </ul>
    </div>
  </div>
</div>
